<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>next question</title>
</head>
<body>
    <p>hello {{a}} the meaning of life is eating more icecream.</p>
    <p><br> would you consume more than {{c}} of icecream if you had your favorite flavor?</p>
    <form action="/" method="GET" >
        What is your favorite icecream?: <input type="text" name="nextq">
        <input type="submit" value="Submit" >
    </form>
</body>
</html>