<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>next question</title>
</head>
<body>
    <p>hello {{a}} I hope your enjoyed your quiz!</p>
    <p><br> would you consume more icecream if you had your favorite flavor?</p>
    <form action="/" method="GET" >
        which is your favorite spicegirl? <input type="text" name="spicegirl">
        <br>
        What is your favorite icecream?: <input type="text" name="favoritecream">
        <input type="submit" value="Submit" >
    </form>
    <p>you have a bright future ahead full of lots spicy love and icecream!</p>
    <script src={{test}}></script>
</body>
</html>