<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/materia/bootstrap.min.css">
    <title>update playlist</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Playlister</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
    <form action="/updated" method="POST">
        <fieldset>
                <div class="jumbotron">
                <h1>
                <legend>New Playlist</legend>
                </h1>
                </div>
                <!-- TITLE -->
                <h1><label for='playlist-title'>Title</label><br></h1>
                <p>
                    <input id='playlist-title' type='text' name='title' value="{{playlist[0]['title']}}" />
                    <input type='hidden' name='objid' value='{{ id }}'/>
                </p>
        
                <!-- DESCRIPTION -->
                <h2><label for='description'>Description</label><br></h2>
                <p>
                    
                    <input id='description' type='text' name='description' value="{{playlist[0]['description']}}"/>
                </p>
        
                <!-- VIDEO IDS -->
                <h2>
                <label for='playlist-video-ids'>Embed URL strings </label><br>
                </h2>
                <p>
                    <p>Add the ID of the videos you want to include in your playlist. Separate with a newline.</p>
                    <textarea id='playlist-video-ids' name='video_ids' rows='10'>{% for url in playlist[0]['video_url']%}{{ url }}
                    {% endfor %}
                </textarea>
                </p>
            </fieldset>
        
            <!-- BUTTON -->
            <p>
                <button type='submit'>Save Playlist</button>
            </p>
    </form>
</div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>